html {
    scroll-behavior: smooth;
}


#header-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../home/images/action.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: auto;
    height: calc(100vh - 4.45rem);
}

#header-img .display-1{
    position: relative;
    text-align: center;
    margin-top: 8%;
}


/* Typewriter Font */

#typewriter {
    font-weight: 600;
}
@media (min-width: 300px) {
    #typewriter{
        padding-top: 20%;
        font-size: 40px;
    }
}

@media (min-width: 337px) {
    #typewriter{
        padding-top: 20%;
        font-size: 40px;
    }
}

@media (min-width: 357px) {
    #typewriter{
        padding-top: 20%;
        font-size: 40px;
    }
}

@media (min-width: 900px) {
    #typewriter{
        padding-top: 8%;
    }
}


@media (min-width: 1000px) {
    #typewriter{
        padding-top: 8%;
    }
}


@media (min-width: 1085px) {
    #typewriter{
        padding-top: 8%;
        font-size: 60px;
    }
}

@media (min-width: 1200px) {
    #typewriter{
        padding-top: 5%;
    }
}